/*Add padding and margin to space out the page.
Make the font larger too.*/
body{
	margin:1%;
	padding:1%;
	font-size:150%;
	font-family: 'Montserrat', sans-serif;
}
#about{
	background-image: url('../images/background-image.jpg');
	background-size: cover;
	background-color: #f1f1f1;
}

/*Make the h1 heading bigger with a bold font*/
h1{
	font-size: 2em;
	font-weight: bold;
}


header{
    display: flex;
    flex-wrap: wrap;
    align-items: right;
    flex-direction: column;
    justify-content: center;
}

/* style navigation bar */
nav ul {
	/* list-style-type: none; */
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkgrey;
	border: 1px solid #e7e7e7;
  }
nav li{
	float: left;
}
nav li a{
	display: flex;
	color: black !important;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
  	text-align: center;
  	padding: 16px 20px;
  	text-decoration: none;
}
.active{
	background-color: rgb(0, 0, 0);
	font-weight: bold;
	text-align: center;
}
.active a{
	color: white !important;
}


/*Style the images*/
.cover {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	max-width: 95%;
}
.preview{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	/* flex: 50%; */
}
.preview img{
	padding: 5px;
	margin: 10px;
}
.preview img:hover{
	filter: grayscale();
	border: 3px solid white;
}

img{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
    padding: 10px;
	/* border: 1px lightsteelblue solid; */
	border-radius: 5px;
	margin-left:auto;
	margin-right:auto;
	margin-top: 20px;
}
.prototype img:hover{
	transform: scale(1.05);
}

#bg{
	padding: 30px;
	background-color: #54586F;
	border-radius: 10px;
}

/* style the text */

h1{
	font-size: 3em; 
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
	text-align: center;
}
h2{
	font-size: 2em; 
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-weight: bold;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 28px;
}
li{
	font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	line-height: 28px;


}
.prototype p{
	text-align: center;
}

/*Improve the spacing for paragraphs AND headings*/
p, h1, h2 {
    padding: 20px;

}

/*Add borders around the main components and some
space too*/
header, nav, main, h1, footer{
	margin: 20px 0;
}


main ul{
	list-style-position: inside;
	list-style-type: disc;
}

main li{
	padding-left: 30px;
	padding-bottom: 5px;
}
footer{
	color: black;
	padding: 32px 8px;
    width:100%;
	display: grid;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
}
footer p{
	grid-row: 1/2;
}
footer a{
	grid-row-start: 2;
}

#contact{
	margin-top: 50px;
}
.container{
	padding: 30px;
	border-radius: 10px;
	background-color: #f1f1f1;
}
input[type=text]{
	display: block;
	width: 100%;
	padding: 20px;
	border: 1px solid lightgrey;
	border-radius: 10px;
	box-sizing: border-box;
	margin-top: 10px;
	margin-bottom: 20px;
}
input[type=submit]{
	display: block;
	background-color: lightgrey;
	font-size: 20px;
	color: black;
	padding: 10px 20px;
	border-radius: 5px;
	border: 1px solid lightgrey;
	margin: 10px;
}
/*Added this so the links stay the same color*/
a:visited{color: black}
#typewriter{
	overflow: hidden;
	border-right: .15em solid grey;
	white-space: nowrap;
	margin: 0 auto;
	/* letter-spacing: 0.15em; */
	animation: typing 3.5s steps(40, end),
	blink-caret 0.5s step-end infinite;
}
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: grey }
}
@media screen and (prefers-reduced-motion: reduce) {
    * {
        animation: none;
    }
}
